<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Project</title>
    <link rel="stylesheet" href="css/style.css" />

  </head>
  <body>
    {{!-- <h2 class="title"> {{title}} Page Content </h2> --}}
    <div class="header1">
      <nav>
        <a href="/">home</a>
        <a href="/weather">weather</a>
      </nav>
      <form id="location-form">
        <input type="text" id="address" />
        <button>Search For Weather</button>
      </form>
    </div>
    {{! <script src="js/script.js">
    </script> }}
  </body>
</html>